@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;&display=swap');

body {
	font-family: 'Karla', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400, 700;
	font-style: normal;
	height: 10em;
	margin: 0;
}

.hero_main {
	/* top | right | bottom | left */
	margin: 0.01em 4em 2em 4em;
}

.priceCard {
	color: hsl(218, 22%, 67%);
}

.Plan {
	color: hsl(71, 73%, 54%);
}

.Gain {
	color: hsl(218, 22%, 67%);
}

.priceCard {
	/* top | right | bottom | left */
	margin: 1em 0 1em 0;
	font-weight: 600;
	font-size: 1.5em;
}

.Plan {
	/* top | right | bottom | left */
	font-weight: 2em;
	font-size: 1.2em;
}

.Gain {
	font-size: 1.6em;
	line-height: 1.6;
}

.MPlans {
	display: grid;
	grid-template-columns: minmax(15em, auto);
	grid-auto-flow: column;
}

.Pricing {
	/* display: flex;
	flex-direction: row; */
	background-color: hsl(179, 62%, 43%);
}

.pricingSub {
	/* top | right | bottom | left */
	margin: 2em 4em 0 1.8em;
	color: #fff;
	font-size: 1.7em;
	font-weight: bold;
}

.planAmount {
	margin: 0.5em 4em 0.25em 1em;
	color: #fff;
	font-weight: bolder;
	font-size: 3em;
}

.pMonth {
	font-size: 0.5em;
	color: hsl(204, 43%, 93%);
	font-weight: 100;
}

.Access {
	/* top | right | bottom | left */
	margin: 0 4em 0.75em 3em;
	color: #fff;
}

.why {
	background-color: hsl(177, 56%, 50%);
}

.whyAbout {
	font-size: 1.25em;
	color: hsl(204, 43%, 93%);
	font-weight: 600;
	/* top | right | bottom | left */
	margin: 0 4em 0.75em 3em;
}

.whyAbout,
.whyTut {
	/* top | right | bottom | left */
	margin: 1em 4em 1em 2em;
	color: #fff;
	line-height: 1.65em;
}

.subBtn {
	background-color: hsl(71, 73%, 54%);
	color: #fff;
	/* top | right | bottom | left */
	padding: 1em 12em 1em 12em;
	margin: 1em 1em 1em 4em;
	border: none;
	border-radius: 0.3em;
}

@media screen and (max-width: 650px) {
	.MPlans {
		display: grid;
		grid-template-rows: repeat(3, 2fr);
	}

	.priceCard {
		font-size: 2em;
		font-weight: 500;
		margin: 1em 0 0 1em;
	}

	.Plan {
		font-size: 1.7em;
		margin: 1em 0 0 1em;
	}

	.Gain {
		font-size: 1.25em;
		line-height: 1.6;
		/* top | right | bottom | left */
		margin: 1em 0 0 1em;
	}

	.subBtn {
		display: grid;
		grid-template-rows: auto;
	}
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
